h1{
    color: #7fffd4;
    background-color: grey;
}

h3{
    color: greenyellow;
}
footer{
    background-color: rgb(128, 128, 128);
   
}
body{
        background-color: grey;
}
Home{
    nav-left:initial;
}
